﻿@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/WssPmStyles.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>WebstaurantStore - BA - Project Manager</h1>
</div>

<div class="row">

    <input type="button" value="Projects" onclick="location.href='@Url.Action("Index", "Project")'" />
    <input type="button" value="People" onclick="location.href='@Url.Action("Index", "People")'" />

</div>