﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WssPmMVC.Models.Project
@{
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Id)</td>
            <td>@Html.TextBoxFor(m => m.Id, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>@Html.TextBoxFor(m => m.Description)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.StartDate)</td>
            <td>@Html.TextBoxFor(m => m.StartDate, "{0:MM/dd/yyyy}")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Deadline)</td>
            <td>@Html.TextBoxFor(m => m.Deadline, "{0:MM/dd/yyyy}")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EstimatedDone)</td>
            <td>@Html.TextBoxFor(m => m.EstimatedDone, "{0:MM/dd/yyyy}")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.IsActive)</td>
            <td>@Html.CheckBoxFor(m => m.IsActive)</td>
        </tr>
    </table>
}
