﻿@using WssPmCommon2.Models
@model Person
@{
    ViewBag.Title = "Add";
}

<h2>Add @ViewBag.RoleName</h2>

<table>
    <tr>
        <td>@Html.LabelFor(m => m.LastName)</td>
        <td>@Html.TextBoxFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.FirstName)</td>
        <td>@Html.TextBoxFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Email)</td>
        <td>@Html.TextBoxFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.IsActive)</td>
        <td>@Html.CheckBoxFor(m => m.IsActive)</td>
    </tr>

</table>
@using (Html.BeginForm("Add", "People"))
{
    <input type="submit" value="Save" />
}
