﻿@using WssPmCommon2.Models

@{
    ViewBag.Title = Model;
}
<link href="~/Content/WssPmStyles.css" rel="stylesheet" type="text/css" />

<h2>@ViewBag.RoleName</h2>

@Html.ActionLink("Add", "Add", "People", new { roleName = ViewBag.Role }, null)

<br />
<table>
    <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email</td>
        <td>IsActive</td>
    </tr>
    @foreach (var p in ViewBag.People)
    {
        <tr>
            <td>@p.LastName</td>
            <td>@p.FirstName</td>
            <td>@p.Email</td>
            <td>@p.IsActive</td>
        </tr>
    }
</table>

