﻿@using WssPmCommon2.Models

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/WssPmStyles.css" rel="stylesheet" type="text/css" />
<h2>All Contacts</h2>

<input type="button" value="Development Manager" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.DevelopmentManager.ToString() })'" />

<input type="button" value="Lead Developer" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.DevelopmentLead.ToString() })'" />

<input type="button" value="Business Analysts" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.BusinessAnalyst.ToString() })'" />

<input type="button" value="Quality Analysts" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.QualityAnalyst.ToString() })'" />

<input type="button" value="Product Owners" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.ProductOwner.ToString() })'" />

<input type="button" value="Assistant Product Owners" onclick="location.href='@Url.Action("IndexByRole", "People", new { roleName = RoleType.AssistanProductOwner.ToString() })'" />

<table>
    <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email</td>
        <td>Roles</td>
        <td>Is Active</td>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.LastName</td>
            <td>@p.FirstName</td>
            <td>@p.Email</td>
            <td>@p.AllRoles()</td>
            <td>@p.IsActive</td>
        </tr>
    }
</table>
