﻿
button, input {
    width: 120px;
    height: 100px;
    border: solid;
    border-color: black;
    border-width: medium;
    background-color: limegreen;
    color: white;
    text-wrap: normal;
    word-wrap: normal;
    white-space: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
