﻿@using WssPmCommon2.Models

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Project
@{

    using (Html.BeginForm("Add", "Project"))
    {
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        <br />
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        <br />
        @Html.LabelFor(m => m.StartDate)
        @Html.EditorFor(m => m.StartDate)
        <br />
        @Html.LabelFor(m => m.Deadline)
        @Html.EditorFor(m => m.Deadline)
        <br />
        @Html.LabelFor(m => m.EstimatedDone)
        @Html.EditorFor(m => m.EstimatedDone)
        <br />
        @Html.LabelFor(m => m.IsActive)
        @Html.CheckBoxFor(m => m.IsActive)
        <br />
        <input type="submit" value="Create" />
    }

}
