﻿@using WssPmCommon2

@model IEnumerable<WssPmCommon2.Models.Project>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>Hello from the Project Index View Template</p>
@Html.ActionLink("Add Project", "Add", "Project")
<br />
<table>
    <tr>
        <td width="150">Name</td>
        <td width="200">Description</td>
        <td width="80">Start Date</td>
        <td width="80">Deadline</td>
        <td width="80">ETA</td>
        <td width="80">Active</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", "Project", new { projectId = item.Id }, null)
            </td>
            <td>@item.Description</td>
            <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
            <td>@item.Deadline.ToString("MM/dd/yyyy")</td>
            <td>@item.EstimatedDone.ToString("MM/dd/yyyy")</td>
            <td>@Html.CheckBox("IsActive", @item.IsActive, new { disabled = "disabled" })</td>
        </tr>
    }
</table>
